* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 40px 0;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.photos {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}
@media (max-width: 630px) {
    .photos {
        justify-content: center
    }
    .modalContent {
        flex-direction: column;
        align-items: center;
    }
}
.photos img {
    margin: 20px 0;
    transition: transform 0.2s;
    cursor: pointer;
}
.photos img:hover {
    transform: scale(1.1, 1.1)
}

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalContent i {
    position: absolute;
    z-index: 100;
    right: 15px;
    top: 15px;
    font-size: 18px;
    cursor: pointer;
}

.modalContent {
    z-index: 11;
    position: relative;
    max-width: 620px;
    width: 100%;
    padding: 30px;
    background: white;
    display: flex;
    height: 450px;
}
.modalLeft {
    max-width: 55%;
    width: 100%;
    margin-right: 15px;
    
}
.modalLeft img {
    width: 100%;
}

.modalLeft input {
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;

}
.modalLeft input::placeholder {
    color: #CCCCCC;
}
.modalLeft button {
    outline: 0;
    border: 0;
    font-size: 14px;
    background: #4997D0;
    border-radius: 3px;
    color: #ffffff;
    width: 100%;
    padding: 8px 0; 
}
.modalRight {
    overflow-y: auto;
    width: 45%;
}